{% extends 'base.html' %}
{% block contant %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>Wordcounter  !</title>
  </head>
  <body>
    <div class="container">
      <h1>Wordcounter</h1>
      <form class="" action="{% url 'count' %}" >
        <textarea name="fulltext" rows="20" cols="120" placeholder="Start typing, or copy and paste your document here..."></textarea>
        <br>
        <input type="submit" name="" value= "count word">
      </form>
      <h2>{{ name }}</h2>

    </div>
  </body>
</html>
{% endblock %}
